:root{
    --branco-texto: #FFFFFF;
    --cinza-texto: #C0C0C0;
    --cor-botao: #167bf7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-texto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image:url("Assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center /*faz o alinhamento do bloco*/;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50%;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 5px;
    padding: 1em; /*Dentro do conteúdo, deixa o botão mais espesso*/
    color: var(--branco-texto);
    text-decoration: none;
    display: block;
    margin-bottom: 1em; /*propriedade relacionada a margem inferior*/
}

.botao__secudanrio{
    background-color: transparent;
    border: 2px solid var(--branco-texto);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-texto);
}

.container__titulo{
    font-size: 28px;
    font-weight:700;
}

.container__imagem{
margin: 1em 0 2em 0; /*lembrar do relógio*/
}

.container__caixa{
    margin: 0 6em;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    display: flex; /*Usado, pois a div não funcionou na separação*/
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-texto);
    margin-bottom: 0.2em;
}

.descricao__texto{
    color: var(--cinza-texto);
    font-size: 16px;
}

.secundario__botao{
    display: inline-block; /*seleciona as melhores posições em relação à linha e ao bloco*/
    margin-top: 1em; /*espaço entre o "botao" e o texto*/
}
.container__descricao {
    padding: 2em;
}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-texto);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-texto);
}

.rodape{
    text-align: center;
}
.rodape__logo{
    margin-bottom: 2em;
}
.rodape__lista{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 16px;
}

.lista__links a{
    text-decoration: none;
    color: var(--branco-texto);
    font-size: 16px;
    margin-bottom: 1em;
}

.rodape__texto{
    margin: 2em;
    font-size: 14px;
    color: var(--cinza-texto);
}

.lista__links a:hover {
    color: var(--cor-botao);
}

@media screen and (max-width 768px) {
    .container{
        display: block; /*deixa os elementos como bloco, não deixando se sobreporem*/
        background-image: none;
    }
    
    .container__imagem{
        width: 50vw;/*ocupa 50% do tamanho da página indenpente do tamanho da tela*/
    }
    
    .container__caixa{
        margin: 2em 2em;
    }
    
    .secundario{
        margin: 0;
        text-align: center; /*não alinha somente o texto, mas alinha um bloco como um todo*/
    }
    
    .secundario__imagem{
        width: 50vw;
    }

    .dispositivos__lista{
        display: block; /*embloca em coluna*/
    }

    .rodape__lista{
        display: block;
    }
}